* {
  box-sizing: border-box;
}

@font-face {
  font-family: FontOne;
  src: url("Fonts/LekyCalgriaPersonalUse-ywJRd.ttf")
}

@font-face {
  font-family: FontTwo;
  src: url("Fonts/Anya Tamy.ttf")
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

/* CONTENT DISPLAY */
body{
  margin: 0;
  background-color: #1b1921;
  background-size: cover;
  background-position: center;
  padding: 0;
  min-height: 100vh;
}

div.content{
  padding: 40px;
}

div.content-mobile h2{
  display: none;
}

div.verticalcontent{
  text-align: center;
  margin: 8px;
}

div.verticalcontent img{
  width: calc(100vw/2.7)
}

div.vertical h1{
  color: rgba(203,203,203,1);
  text-shadow: none;
  filter: drop-shadow(0 0 0.25rem black);
  font-size: 75;
}

div.pagebreak{
  padding-top: 15px;
  padding-bottom: 15px;
}

div.textbubble{
  text-align: center;
  padding: 8px;
  background-color: rgba(203,203,203,1);
  border-radius: 0px 70px;
  align-items: center;
  justify-content: center;
  margin: 8px;
  filter: drop-shadow(0 0 0.75rem black);
}

div.story{
  display:flex;
  justify-content: center;
}

div.story img{
  border-radius: 0px;
  filter: drop-shadow(0 0 0.75rem black);
  margin: 8px;
  align-self: flex-start;
}

div.story textbubble{
  position: relative;
}

div.textbubble h5{
  color: rgb(46,46,46);
  font-family: FontTwo, sans-serif;
  text-align: left;
  margin: 10px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

div.textbubble h6{
  color: rgb(46,46,46);
  text-align: left;
  margin: 10px;
  font-size: 16px;
}

div.buttonrow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

div.code h8{
  font-family: 'Source Code Pro', monospace;
  background-color: #31263b;
  border-radius: 15px;
  display: inline-block;
  padding: 20px;
  color: #36d113
}

/* VIDEOS */
video{
  width: auto;
  height: 400px;
}

/* GALLERY */
div.viewer{
  width: 100%;
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

div.gallery {
  text-align: center;
  flex:1;
  flex-direction: row;
  /*margin-right: 200px;*/
  filter: drop-shadow(0 0 0.5rem black);
}

div.big{
  text-align: center;
  margin-bottom: 4px;
  /*margin-right: 200px;*/
}

div.verticalcontent div.gallery{
  margin-right: 0px;
}

div.verticalcontent div.big{
  margin-right: 0px;
}

div.verticalcontent div.big img{
  margin-right: 0px;
}

div.big img{
  height: 500px;
  /*margin-right: 200px;*/
}

div.verticalcontent div.gallery{
  margin-right: 0px;
}

div.gallery a{
  position: relative;
  display:inline-block;
  background-color: rgba(0,0,0,1);
  color: rgba(255,255,255,0);
  transition: color linear 0.3s;
  cursor: pointer;
}

div.gallery a.nolink{
  cursor:default;
}

div.gallery a:hover{
  color: rgba(255,255,255,1);
}

div.gallery a h5{
  position: absolute;
  opacity ease: 0.3s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color linear 0.3s;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.gallery a:hover h5{
  background-color: rgba(0,0,0,0.5);
}

div.gallery a img{
  height: 350px;
  width: auto;
}

div.gallery.small a img{
  height: 100px;
}

/* FONTS */
h1{
  position: relative;
  font-family: FontOne, sans-serif;
  color: rgb(255,255,255);
  font-weight: 900;
  font-size: 60px;
  flex: 1;
  margin: 0;
  line-height: 170%;
}

h2{
  font-family: FontTwo, sans-serif;
  color: rgb(251, 218, 253);
  font-size: 18px;
  text-align: left;
  line-height: 130%;
  margin: 0px;
}

h3{
  font-family: FontTwo, sans-serif;
  font-size: 14px;
  color: #1b1921;
  text-align: center;
  position: relative;
  margin: 0px;
}

h4{
  font-family: FontTwo, sans-serif;
  color: rgb(255,255,255);
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

h5{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

h7{
  display: block;
  font-family: FontOne, sans-serif;
  font-size: 18;
  color: rgba(203,203,203,1);
  text-align: center;
  flex:1;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
}

h8{
  display: block;
  font-family: FontTwo, sans-serif;
  font-size: 16;
  color: rgba(203,203,203,1);
  text-align: center;
  flex:1;
  flex-direction: column;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 20vw;
  margin-right: 20vw;
  position: relative;
  font-weight: normal;
}

a h8{
  color: #8B84B2;
}

/* BUTTONS */
a.button{
  display:block;
  position: relative;
	padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
	background-color: #8B84B2;
	border-radius: 0px;
	color: #000;
  width: 120px;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

a.button:hover{
  background-color: #4E4A4A;
}

/* HOME PAGE */
div.maintitle{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  width:60vw;
  text-align: left;
}

  div.maintitle h2{
  width:40vw;
}

div.rectangle{
  width: calc(100vw/2.8);
  height: calc(100vh/1.6);
  background-color: #FBDAFD;
  z-index: -1000;
  margin-left: 51vw;
  margin-top: 20vh;
  position: fixed;
}

/* SKETCHES */
#sketch{
  position: fixed;
  top: 80px;
  left: 50vw;
  width: calc(100vw/4);
  height: calc(100vh/1.5);
  z-index: +1;
}

#sketch2{
  position: center;
  top:0;
  width: 500px;
  height: 500px;
}

/* NAV BAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1921;
  color: white;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.brand-title h1 {
  font-size: 12px;
  display: none;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a{
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* MOBILE */
@media (max-width: 950px) {

  div.gallery.small img{
    height: auto;
    width: 45vw;
  }

  div.gallery.small a img{
    height: 30vw;
    width: auto;
  }

  div.gallery.small{
    margin-top: 5px;
  }

  div.big img{
    height: auto;
    width: 90vw;
  }

  div.big{
    margin:0;
  }

  video{
    position: center;
    width: 250;
    height: auto;
  }

  div.gallery a img{
    height: auto;
    width: 80vw;
  }
  div.gallery {
    margin: 0;
  }
  div.gallery.small img{
    height: auto;
    width: 45vw;
  }
  div.gallery.small a img{
    height: 30vw;
    width: auto;
  }
  div.gallery.small{
    margin-top: 5px;
  }

  div.story{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  div.story img{
    align-self: center;
  }

  div.vertical h1{
    font-size: 50;
  }

  div.verticalcontent img {
    height: auto;
    width: 80vw;
  }

  div.verticalcontent{
    margin:0;
  }

  div.content{
    padding:0;
  }

  div.content-mobile{
    padding:40px;
  }

  div.content-mobile h2{
    display: block;
  }

  #sketch{
    display: block;
    padding-top: 20px;
    z-index: 0;
    flex: 1;
    position: static;
    align-self: center;
    align-content: center;
    min-height: 70vh;
    width: 100vw;
    left: 0px;
  }

  #sketch2{
    position: center;
    top:0;
    width: 250px;
    height: 250px;
  }

  a.button{
    /*background-color: #FBDAFD;*/
    align-self: center;
  }

  div.maintitle{
    display: none;
  }
  div.rectangle{
    display: none;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a{
    padding: .5rem 1rem;
  }

  .navbar-links.active{
    display: flex;
  }

  .brand-title h1 {
    display: block;
    padding-top: 5px;
    padding-left: 10px;
  }

  h7{
    font-size: 14;
  }

  h8{
    margin-left: 5vw;
    margin-right: 5vw;
  }
  div.textbubble img{
    width: 50vw;
  }

  div.verticalcontent h1{
    font-size: 30px;
  }
}
