<!DOCTYPE html>
<html>
	<head>

		<!-- The <title> is the text you see in the tab in your web browser. -->
		<title>
			{{title}}
		</title>

		<!--
			The link tag tells the page where to find the styles explaining how each tag should
			look. In our case, they're found in style.css
		-->
		<link rel="stylesheet" type="text/css" href="style.css" />

        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-18746780-2', 'auto');
  ga('send', 'pageview');

</script>

	</head>
	<body>

		<!--
			The id of a div is unique (you can't use the same one twice.) This is so that we can
			add styles to that specific element in the style.css file. So, the styles for the div
			with id="main" are found in the brackets after #main in style.css.
		-->
		<div id="main">

			<!-- The div id="header" is where the title and stuff go -->
			<div id="header">

				<!-- The h1 tag is used for the first heading of the page (the title) -->
				<h1>Art Projects</h1>

				<!-- This is the picture that goes next to the title -->
				<img id="me" src="me.png" />

			</div>

			<!-- The div id="previews" is where the smaller circle post previews go -->
			<div id="previews">

				<!-- Each circle preview you add should be in this format. You can copy and paste these -->
				<div class="preview">
					<a class="circle" style="background-image:url(photos/GEDC1342-medium.jpg)" href="#zentangle">Zentangles</a>

				</div>

				<div class="preview">
					<a class="circle" style="background-image:url(photos/GEDC1343-medium.jpg);" href="#Other">Other</a>

				</div>

				<div class="preview">
					<a class="circle" style="background-image:url(photos/GEDC1350-medium.jpg)" href="Drawings.html">Drawings</a>

				</div>

			</div>

			<!-- The div id="posts" is where the main posts go -->
			<div id="posts">


                {{#ArtProjects}}
                <div class="post">
                	{{#a}}
                	<a name="{{a}}"></a>
                	{{/a}}



<h2>Zentangles</h2>
					<h3></h3>
<p>Zen repeated patterns</p>
<ul>
</ul>
</div>

        {{#Zentangles}}

        <div class="post">

					<h2>{{title}}</h2>
                    <h3>{{date}}</h3>
                    {{#image}}
                    	<img src="{{image}}">
                    {{/image}}
					{{{content}}}
					<ul>
					{{#list}}
	                    <li>{{.}}</li>
					{{/list}}
					</ul>

				</div>


				{{/ArtProjects}}


			</div>
		</div>

	</body>
</html>
